// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap-reboot";
@import "~bootstrap/scss/bootstrap";

body {
    font-family: $font-family-sans-serif;
    min-height: 100vh;
    min-width: 100vw;
    background-color: var(--bs-body-bg-rgb);

    & > .container {
        & > footer {
            margin-top: 30px;
            padding-top: 1rem;
            border-top: 1px solid var(--bs-dark);
        }

        .menu {
            padding-top: 0 !important;
            border-top: 3px solid rgba(var(--bs-dark-rgb), 1);

            & > h4 {
                margin-top: 1rem;
            }
        }
    }

    .form-signin {
        width: 300px;
        padding: 2rem;
        background-color: var(--bs-light);
        border-radius: 15px;

        .col {
            margin-bottom: 1rem;
        }
    }

    .jumbotron {
        padding-top: var(--jumbotron-padding-y);
        padding-bottom: var(--jumbotron-padding-y);
        margin-bottom: 30px;
        background-color: #fff;

        p:last-child {
            margin-bottom: 0;
        }

        .jumbotron-heading {
            font-weight: 300;
        }

        .container {
            max-width: 40rem;
        }
    }
}

img.avatar {
    max-width: 150px;
    max-height: 150px;
    border-radius: 300px;
}

img.header-logo {
    max-height: 45px;
    border-radius: 100px;
    margin-right: 10px;
}

.flex {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.captcha-container {
    img {
        max-width: 200px;
        margin-bottom: 1.5rem;
    }
}

.margin-bottom {
    margin-bottom: 1.5rem;
}

.component-navbar-menu {
    & > li {
        display: flex;
        align-content: end;
        flex-wrap: wrap;

        .component-navbar-menu__menu-item {
            cursor: pointer;

            & > img {
                max-width: 24px;
                max-height: 24px;
                height: 24px;
                width: 24px;
            }
        }
    }

}

:root {
    --jumbotron-padding-y: 3rem;
}

@media (min-width: 768px) {
}
