@use "sass:math";
@import '../variables';

.component-col {
    display: flex;
    max-width: 100%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    align-content: center;
    flex-direction: row;

    &.component-col--align-right {
        & > * {
            margin-left: auto;
        }
    }

    &.component-col--align-center {
        align-items: center;
    }

    @each $name, $size in $grid-breakpoints {
        @for $i from 1 through 12 {
            @media only screen and (min-width: $size) {
                &.component-col--#{$name}-#{$i} {
                    -ms-flex: 0 0 #{math.percentage(math.div($i, 12))};
                    flex: 0 0 #{math.percentage(math.div($i, 12))};
                    max-width: #{math.percentage(math.div($i, 12))};
                }
            }
        }
    }

    & > * {
        flex: 1;
    }
}
