@import '../variables';

.list-manager-container {
    width: 100%;

    .pagination {
        display: block;

        .pages {
            text-align: center;
        }
    }

    .filters {
        margin-bottom: 15px;

        & > * {
            margin-bottom: 5px;
        }

        .filter {
            & > div > :nth-child(2) > * {
                margin-right: 4px;
                margin-bottom: 4px;
            }
        }
    }
}
