.movie {
    .movie__img-container {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
        position: relative;

        img {
            max-height: 175px;
            max-width: 100%;
        }

        svg {
            position: absolute;
            right: 10px;
            top: 10px;
            font-size: 50px;
            color: white;
        }
    }
    .movie__description-container {
        p {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

div:nth-child(2n + 1) > .movie {
    .movie__img-container {
        svg {
            color: red;
        }
    }
}
