@import '../variables';

.component-row {
    &:not(.builder) {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
        margin-bottom: #{$COMPONENT_MARGIN_SINGLE / 2};
    }
    &.builder span {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    &.component-row--no-margin-bottom {
        margin-bottom: 0;
    }
}
