@import 'variables';

@-webkit-keyframes animation--search-field__input-container {
    0% {
        padding-right: 30px;
        padding-left: 0;
    }
    100% {
        padding-right: 0;
        padding-left: 30px;
    }
}

@keyframes animation--search-field {
    0% {
        padding-right: 30px;
        padding-left: 0;
    }
    100% {
        padding-right: 0;
        padding-left: 30px;
    }
}

@-webkit-keyframes animation--search-field__input-container__icon {
    0% {
        padding-right: 30px;
        padding-left: 0;
    }
    100% {
        padding-right: 0;
        padding-left: 30px;
    }
}

@keyframes animation--search-field__input-container__icon {
    0% {
        left: auto;
        right: 0;
    }
    100% {
        left: 0;
        right: auto;
    }
}

.component-form-field {
    display: flex;
    width: 100%;
    position: relative;

    &.component-form-field--is-focused {
        .component-form-field__input-container {
            padding-right: 0;
            padding-left: 30px;
            -webkit-animation: animation--search-field__input-container 0.3s
                cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
            animation: animation--search-field__input-container 0.3s
                cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
            .component-form-field__input-container__icon {
                left: 0;
                right: auto;
                -webkit-animation: animation--search-field__input-container__icon
                    0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
                animation: animation--search-field__input-container__icon 0.3s
                    cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
            }
        }
    }

    .component-form-field__input-container {
        flex: 1;
        padding-right: 30px;
        position: relative;

        input[type='text'],
        input[type='number'],
        input[type='password'] {
            display: inline-block;
            height: 28px;
            width: 100%;
            border: none;
            border-radius: 0;
            font-size: 13px;
            font-weight: 400;
            padding: 0;
            background-color: transparent;
            -webkit-box-shadow: none;
            box-shadow: none;
            border-bottom: 2px solid $default;
            outline: 0 none;
            color: #000;

            &::placeholder {
                color: lighten(#000, 35%);
            }
        }

        .component-form-field__input-container__icon {
            position: absolute;
            top: 0;
            left: auto;
            bottom: 0;
            right: 0;
            font-size: 1.5em;
        }
    }

    &.component-form-field--state-success {
        .component-form-field__input-container {
            input[type='text'],
            input[type='number'],
            input[type='password'] {
                border-bottom-color: $success;
            }
        }
    }

    &.component-form-field--state-error {
        .component-form-field__input-container {
            input[type='text'],
            input[type='number'] {
                border-bottom-color: $danger;
            }
        }
    }
}
