@import '../_variables.scss';

.route--index {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-content: center;
    align-items: center;

    .row {
        width: 100%;
        transform: translateY(-50%);
        padding-top: 50%;

        form {
            background: $default_LIGHTEN_X2;
            padding: $COMPONENT_ELEMENT_PADDING_LG;
            padding-top: 30px;
            position: relative;
            border-radius: $COMPONENT_BORDER_RADIUS;
        }
    }
}
